extends layout

block content
    div(class='container-fluid page-id-add')
        div(class='row')
            h1 #{title}
            form(method='post' enctype='multipart/form-data')
                div(class='form-group')
                    label(for='logoPath') Logo
                    input(type='file' accept='image/*' id='logoPath' name='logoPath')
                    p(class='help-block') Upload the businesses logo.
                    div(class='logoPreview')
                            img(src='' alt='Image Preview')
                div(class='form-group')
                    label(for='name') Business Name
                    input(type='text' class='form-control' id='name' name='name' placeholder='Enter Business Name' required)
                div(class='form-group')
                    label(form='description') Business Description
                    textarea(class='form-control' id='description' name='description' placeholder='Enter Business Description')
                div(class='form-group')
                    label(for='contactName') Business Contact Name
                    input(type='text' class='form-control' id='contactName' name='contactName' placeholder='Enter Business Contact Name')
                div(class='form-group')
                    label(for='address') Business Address
                    input(type='text' class='form-control' id='address' name='address' placeholder='Enter Business Address')
                div(class='form-group')
                    label(for='phoneNumber') Business Phone Number
                    input(type='tel' class='form-control' id='phoneNumber' name='phoneNumber' placeholder='Enter Business Phone Number')
                div(class='form-group')
                    label(for='website') Business Website
                    input(type='url' class='form-control' id='website' name='website'  placeholder='Enter Business Website Link')
                div(class='form-group')
                    label(for='twitter') Business Twitter
                    input(type='url' class='form-control' id='twitter' name='twitter' placeholder='Enter Business Twitter Link')
                div(class='form-group')
                    label(for='facebook') Business Facebook
                    input(type='url' class='form-control' id='facebook' name='facebook' placeholder='Enter Business Facebook Link')
                button(type='submit' class='btn btn-primary btn-lg') Add this Business