extends layout

block content
    div(class='container-fluid')
        div(class='row')
            h1 #{title}
            p Business, #{business.name} has been added.
            a(href='/businesses' title='View Businesses' class='btn btn-primary btn-lg') View Businesses