extends layout

block content
    div(class='container-fluid page-id-add')
        div(class='row')
            h1 #{title}
            img(src='/images/dance1.gif' alt="DANCE!")
            img(src='/images/dance2.gif' alt="DANCE!")
            img(src='/images/dance3.gif' alt="DANCE!")