extends layout

block content
    div(class='container-fluid')
        div(class='row')
            h1 #{title}
        - var length = businesses.length
        case length
            when 0
                div(class='row')
                    a(href='/businesses/add' title='Add a Business' class='btn btn-primary btn-lg' role='button') Add a Business
            default
                each business in businesses
                    div(class='row clearfix business-collapse')
                        h2(class='pull-left') #{business.name}
                        a(href='/businesses/delete/#{business._id}' title='Delete Business' class='btn btn-danger pull-right') Delete Business
                        a(href='/businesses/edit/#{business._id}' title='Edit Business' class='btn btn-primary pull-right') Edit Business
                    div(class='row business-listing')
                        div(class='col-sm-6 col-md-3')
                            img(src='/images/businesses/#{business.logoPath}' alt='#{business.name} Logo')
                        div(class='col-sm-6 col-md-9')
                            ul(class='list-group')
                                li(class='list-group-item')
                                    h2 #{business.name}
                                    p #{business.contactName}
                                    p #{business.address}
                                    p #{business.phoneNumber}
                                li(class='list-group-item')
                                    a(href='#{business.website}' title='#{business.name} Website') #{business.website}
                                li(class='list-group-item')
                                    a(href='#{business.twitter}' title='#{business.name} Twitter') #{business.twitter}
                                    br
                                    a(href='#{business.facebook}' title='#{business.name} Facebook') #{business.facebook}
                                li(class='list-group-item') #{business.description}
