extends layout

block content
    div(class='container-fluid')
        div(class='row')
            h1 #{title}
            p Are you sure you want to delete the business, #{business.name}?
            a(href='/businesses' title='View Businesses' class='btn btn-primary btn-lg') No, Cancel
            a(href='/businesses/delete/#{business._id}/yes' title='Delete Businesses' class='btn btn-danger btn-lg') Yes, Delete