extends layout

block content
    div(class='container-fluid')
        div(class='row error-message')
            h1= message
            h2= error.status
            a(href='#' title='Show more of the error message...' class='error-message-show') Show More...
            pre #{error.stack}
