extends layout

block content
    div(class='page-id-index')
        section(class='jumbotron-wrap')
            div(class='container-fluid')
                div(class='jumbotron')
                    h1 #{title}
                    p Welcome to aBusinesses. Here you will find a list of businesses and their related information. This list is curated by the public. Please feel free to add, edit and remove businesses as you please.
                    p
                        a(class='btn btn-primary btn-lg' href='businesses' role='button') View Businesses
        section(class='thumbnail-wrap')
            div(class='container-fluid')
                div(class='row')
                    div(class='col-sm-6 col-md-4')
                        div(class='thumbnail')
                            img(src='images/add100.png' alt='Add a Business')
                            div(class='caption')
                                h2 Add a Business
                                p Our service allows you to add any business to our list. Feel free to add as little or as much information as you please!
                                p
                                    a(href='./businesses/add' class='btn btn-primary' role='button') Add a Business
                    div(class='col-sm-6 col-md-4')
                        div(class='thumbnail')
                            img(src='images/group18.png' alt='Edit a Business')
                            div(class='caption')
                                h2 Edit a Business
                                p Is the information for a business wrong? We give you the ability to update a businesses information whenever you please!
                                p
                                    a(href='./businesses' class='btn btn-primary' role='button') Edit a Business
                    div(class='col-sm-6 col-md-4')
                        div(class='thumbnail')
                            img(src='images/container12.png' alt='Delete a Business')
                            div(class='caption')
                                h2 Remove a Business
                                p Don't think a business belongs on our list? Simply remove it from the list and you don't have to worry about it again!
                                p
                                    a(href='./businesses' class='btn btn-primary' role='button') Remove a Business