doctype html
html
  head
    title #{title} | aBusinesses
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
        nav(class='navbar navbar-default')
            div(class='container-fluid')
                div(class='navbar-header')
                    button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target="#business-navbar")
                        span(class='sr-only') Toggle Navigation
                        span(class='icon-bar')
                        span(class='icon-bar')
                        span(class='icon-bar')
                    a(href='/' class='navbar-brand') aBusinesses
                div(class='collapse navbar-collapse' id='business-navbar')
                    ul(class='nav navbar-nav')
                        li
                            a(href='/' title='Home') Home
                        li
                            a(href='/businesses' title='View Businesses') View Businesses
                        li
                            a(href='/businesses/add' title='Add a Business') Add a Business
    block content
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/core.js')
    footer
        div(class='container-fluid')
            div(class='row')
                div(class='col-sm-8 col-md-6')
                    a(href='/' title='Home')
                        img(src='/images/logo.png' alt='Logo')
                div(class='col-sm-4 col-md-6')
                    ul
                        li
                            a(href='/' title='Home') Home
                        li
                            a(href='/businesses' title='View Businesses') View Businesses
                        li
                            a(href='/businesses/add' title='Add a Business') Add a Business
                    p
                        small Copyright &copy;  2015 | Geoff Dusome Designs | aBusinesses
                    p
                        small
                            div
                                | Icons made by&nbsp;
                                a(href='http://www.flaticon.com/authors/freepik' title='Freepik') Freepik
                                | ,&nbsp;
                                a(href='http://www.flaticon.com/authors/elegant-themes' title='Elegant Themes') Elegant Themes
                                | ,&nbsp;
                                a(href='http://www.flaticon.com/authors/picol' title='Picol') Picol
                                | &nbsp;from&nbsp;
                                a(href='http://www.flaticon.com' title='Flaticon') www.flaticon.com
                                | &nbsp;is licensed by&nbsp;
                                a(href='http://creativecommons.org/licenses/by/3.0/' title='Creative Commons BY 3.0') CC BY 3.0

