body {
    background-color: #f8f8f8;
}

.navbar {
    margin-bottom: 0;
}

.container-fluid {
    max-width: 1200px;
}

.row {
    margin: 0;
}

.jumbotron-wrap {
    background: #fff url(../images/home-background.jpg) no-repeat top right;
    background-size: cover;
    padding: 100px 0;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #f8f8f8;
}

.thumbnail-wrap {
    margin-top: 50px;
}

.thumbnail {
    padding-top: 25px;
}

.thumbnail img {
    max-width: 50%;
    margin: 0 auto;
}

.page-id-add {
    position: relative;
}

.logoPreview {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    border: 1px solid #ccc;
}

@media screen and (max-width: 560px) {
    .logoPreview {
        position: static;
    }
}

.logoPreview img {
    max-width: 350px;
    max-height: 150px;
}

.business-collapse {
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

.business-collapse h2 {
    margin: 0;
}

.business-collapse a {
    margin-left: 10px;
}

.business-listing h2 {
    margin-top: 0;
}

.business-listing img {
    max-width: 275px;
}

.error-message pre {
    display: none;
}

footer {
    margin-top: 30px;
    border-top: 1px solid #ccc;
    padding-top: 20px;
}

footer ul {
    padding: 0;
    list-style-type: none;
}

footer ul li {
    float: left;
    padding-right: 20px;
}

footer p {
    clear: both;
}